html{
	background-color: #72777f;
	height: 100%;
}

body{
	height:100%;
	margin: 0;
}

/* HEADER */

header {
	background: #ffffff;
	width:100%;
	top: 0;
	position: fixed;
}

nav {
  display: none;
}

.navigation {
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	padding: 15px;
	display: block;
}

.navigation:hover{
	color: #537bbc;
}

#menu {
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: right;
	background-color: #ffffff;
	
}

.show-menu {
	display: block;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
nav {
	display: block;
  }
  
.navigation {
	display: inline-block;
	margin-top: 0px;
}

#menu {
    display: none;
  }
}


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1024px) {

}


/* MAIN SECTION */
.container {
	background: rgba(196, 196, 196, 0.3);
	text-align: center;
	height: 250px;
	width: 90%;
	border: solid; 
	margin: 60px auto;
}

.title{
	margin: 0;
	font-size: 20px;
	color: white;
	font-family: Comic Sans MS;
}

.information{
	text-align: left;
	margin: 0;
	font-size: 10px;
	color: white;
	font-family: Comic Sans MS;
}

/* INTRO */
#intro{
	height: 100vh;
	top:0;
 }

 /* FOOTBALL SECTION */
 #football{
	background: #031c49;
	width: 100%;
	height: 1000px;
	top:0;

}

.football-title{
	background: #686b7c;
	text-align: center;
	height:110px;
	width: 220px;
	margin: auto;
 }
 
.football-image{
 	display: block;
 	width: 60px;
  	height: 60px;
  	margin: 0 auto;
  	top: 0px;
}

.football-info{
	background: rgba(47, 119, 117, 0.3);
	height: 200px;
	width: 90%;
	text-align: center;
	margin: 20px auto;
	border-radius: 30px;
}

 /* F1 SECTION */
 #f1{
	background: #212121;
	width: 100%;
	height: 1000px;
	top:0;

}

.f1-title{
	background: #686b7c;
	text-align: center;
	height:110px;
	width: 220px;
	margin: auto;
 }
 
.f1-image{
 	display: block;
 	width: 130px;
  	height: 70px;
  	margin: 0 auto;
  	top: 0px;
}

.f1-info{
	background: rgba(47, 119, 117, 0.3);
	height: 200px;
	width: 90%;
	text-align: center;
	margin: 20px auto;
	border-radius: 30px;
}

 /* BASKETBALL SECTION */
 #basketball{
	background: #031c49;
	width: 100%;
	height: 1000px;
	top:0;

}

.basketball-title{
	background: #686b7c;
	text-align: center;
	height:110px;
	width: 220px;
	margin: auto;
 }
 
.basketball-image{
 	display: block;
 	width: 60px;
  	height: 60px;
  	margin: 0 auto;
  	top: 0px;
}

.basketball-info{
	background: rgba(47, 119, 117, 0.3);
	height: 200px;
	width: 90%;
	text-align: center;
	margin: 20px auto;
	border-radius: 30px;
}


