/* HTML & BODY */
html{
	background: #212121;
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body{
	height:100%;
	margin: 0;	 
}

/* PRELOADER */
.preloader {
	background-color: #424040;
	top: 0;
	left: 0;	
	display: block;	
	height: 100vh;	
	width: 100%;
	position: fixed; 
	animation-name: cssAnimation;
	animation-duration: 0.5s;
	animation-delay: 3s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	z-index: 99999;
}

@keyframes cssAnimation {
	to {
		height: 0;
		overflow:hidden;
    }
}

.loading-icon {
	top: 50%;
	height: 60px;
	width: 60px;
	margin: auto;
	position: relative;
	border-left: 8px solid rgba(112, 112, 112, 0.1);
	border-right: 8px solid rgba(112, 112, 112, 0.1);
	border-bottom: 8px solid rgba(112, 112, 112, 0.1);
	border-top: 8px solid rgba(145, 70, 61, 1);
	border-radius: 100%;
	animation: rotation .6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.loading{
	color: #ffffff;
	top:50%;
	position: relative;
	text-align:center;
	font-size: 30px;
	text-transform: uppercase;
	font-family: Comic Sans MS;
}	

.preload-img{
	opacity: .2;
	height: 100%;
	width: 100%;
	position: absolute;
}


/* HEADER & NAV */
header {
	background: #ffffff;
	top: 0;
	width:100%;
}

.website-name{
	color: #000000;
	display:inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Comic Sans MS;
	text-decoration: none;
}

.website-name:hover{
	color: #285caf;
}

nav {
  display: none;
}

.navigation {
	color: #191919;	
	display: block;
	padding: 20px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;	
}

.navigation:hover{
	color: #1aadf2;
}

#menu {
	background-color: #c1c1c1;
	color: #0006b7;
	float: right;
	display: inline-block;
	padding: 23px;	
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
}

#menu:hover {
	color: #0094ff;
}

.show-menu {
	display: block;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 520px) {
nav{
	float: right;
	display: inline-block;
	padding: 1em;
}
  
.navigation {
	display: inline-block;
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 10px;
	font-size: 13px;
}

#menu {
    display: none;
}

}


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1024px) {
.navigation {
	padding-left: 30px;
	font-size: 18px;
}

}
/* END OF NAV & HEADER */


/* MAIN */
.title{
	color: #ffffff;
	margin: 0;
	font-size: 20px;
	font-family: Comic Sans MS;
}

.qoute-title{
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	font-family: Comic Sans MS;
}

.news-title{
	color: #000000;
	margin: 0;
	font-size: 20px;
	font-family: Comic Sans MS;
}

.sports-title{
	background: #686b7c;
	height:110px;
	width: 220px;
	margin: auto;
	text-align: center;
}

.information{
	color: #ffffff;
	text-align: left;
	font-size: 12px;
	font-family: Comic Sans MS;
}

.information-flip{
	color: #ffffff;
	text-align: left;
	font-size: 12px;
	font-family: Comic Sans MS;
}

.title-flip{
	color: #ffffff;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	font-family: Comic Sans MS;
}

.sports-info{
	background: rgba(255, 255, 255, 0.7);
	height: 300px;
	width: 90%;
	margin: 20px auto;
	border-radius: 30px;
	text-align: center;
}

.container {
	background: rgba(196, 196, 196, 0.3);
	height: 280px;
	width: 90%;	
	margin: 60px auto;
	border: solid; 
	text-align: center;
}

/* INTRO SECTION*/
#intro{
	background: #1c1c1c;
	height: 100vh;
}
 
.slideshow {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}	

.intro-txt{
	background: rgba(45, 45, 45, 0.7);
	color: #ffffff;
	top: 50%;
    left: 50%;
	height: 500px;
	position: absolute;
	text-align: center;
	font-size: 20px;
    transform: translate(-50%, -50%);
	z-index: 1000;
}

.intro-teams{
	color: #ffffff;
	display: block;
	padding: 20px;
	text-decoration: none;
}

.intro-teams:hover{
	color: 	#808080;
}

.intro-header{
	width: 300px;
	border-bottom: 10px solid white;
}

.slideshow-img {
	opacity: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	animation: round 30s infinite;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

.slideshow-img:nth-child(1) { animation-delay: 0s; }
.slideshow-img:nth-child(2) { animation-delay: 5s; }
.slideshow-img:nth-child(3) { animation-delay: 10s; }
.slideshow-img:nth-child(4) { animation-delay: 15s; }
.slideshow-img:nth-child(5) { animation-delay: 20s; }
.slideshow-img:nth-child(6) { animation-delay: 25s; }

/*SPORTS SECTION*/
#sports{
	background: #212121;
	top:0;
	height: 1200px;
	width: 100%;
}

.sports-image{
	height: 60px;
	width: 60px;
 	display: block;
  	margin: 0 auto;
}

.qoute-border{
	width: 20%;
	margin: 0 auto;
	border-bottom: solid 3px white;
}

.football-qoute,
.f1-qoute, 
.basketball-qoute{
	color: #ffffff;
	width: 60%;
	display:block;
	position: absolute;
	text-align: center;
	font-size: 18px;
	font-family: Bookman;	
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.football-qoute{
	animation-name: qoute-1;
}

.f1-qoute{
	animation-name: qoute-2;
}

.basketball-qoute{
	animation-name: qoute-3;
}

@keyframes qoute-1 {
	0%, 8.3% { 
	left: -30%; 
	opacity: 0; 
	}
	8.3%,25% { 
	left: 20%; 
	opacity: 1; 
	}
	33.33%, 100% { 
	left: 30%; 
	opacity: 0; 
	}
}

@keyframes qoute-2 {
	0%, 33.33% { 
	left: -30%; 
	opacity: 0; 
	}
	41.63%, 58.29% { 
	left: 20%; 
	opacity: 1; 
	}
	66.66%, 100% { 
	left: 30%; 
	opacity: 0; 
	}
}

@keyframes qoute-3 {
	0%, 66.66% { 
	left: -30%; 
	opacity: 0; 
	}
	74.96%, 91.62% { 
	left: 20%; 
	opacity: 1; 
	}
	100% { 
	left: 30%; 
	opacity: 0; 
	}
}

.football-info{
	height: 100%;
	width: 100%;
	border-radius: 100%;
}

.main-flip{
	width: 90%;
	margin: 0 auto;
	text-align:center;
}

.flip-container {
	margin: 20px auto ; 
	position: relative;
	perspective: 1000px;
}

.flip-container,
.flip-container .front-side,
.flip-container .back-side {
	height: 250px;
	width: 250px;
}

.flip-container .front-side,
.flip-container .back-side {
	background: #1d1f35;
	color: #ffffff;
	position: absolute;
	border: solid;
	text-align: center;
    font-size: 10px;
	border-radius: 100%;
	transition: 1.2s;
	backface-visibility: hidden;
	overflow: hidden;
}

.flip-container .back-side {
    transform: rotateY(180deg);
	z-index: 1;
}

.flip-container .front-side {
    transform: rotateY(0deg);
	z-index: 2;
}

.flip-container:hover .front-side {
    transform: rotateY(-180deg);
}

.flip-container:hover .back-side {
    transform: rotateY(0deg);
}

/* FOOTBALL SECTION */
#football{
	background: #031c49;
	top:0;
	height: 1150px;
	width: 100%;
}
 
.football-image{	
	height: 60px;
 	width: 60px;
	display: block;
  	margin: 0 auto;
}

#footballQuery{
	background: #292f3a;
	color: #ffffff;
	height: 50px;
	width: 200px;
    display: inline-block;
	margin: 20px;
	border: solid 2px #292f3a;
    text-align: center;
    font-size: 16px;
	transition-duration: 0.4s;	
}

#footballQuery:hover{
	background: #d4d5d8;
	color: #000000;
}

#football-news a{
	color: #13383a;
	font-size: 14px;
	font-family: Comic Sans MS;
}

#football-news a:hover{
	color: #5098a0;
}

 /* F1 SECTION */
 #f1{
	background: #212121;
	top:0;
	height: 1150px;
	width: 100%;
}
 
.f1-image{
  	top: 0px;
  	height: 70px;
	width: 130px;
 	display: block;
  	margin: 0 auto;
}

#f1Query{
	background: #292f3a;
	color: #ffffff;
	height: 50px;
	width: 200px;	
	display: inline-block;
	margin: 20px;
	border: solid 2px #292f3a;	
    text-align: center; 
    font-size: 16px;
	transition-duration: 0.4s;
}

#f1Query:hover{
	background: #d4d5d8;
	color: #000000;
}

#f1-news a{
	color:#13383a;
	font-size: 14px;
	font-family: Comic Sans MS;
}

#f1-news a:hover{
	color: #5098a0;
}

 /* BASKETBALL SECTION */
#basketball{
	background: #031c49;
	top:0;
	height: 1150px;
	width: 100%;
}
 
.basketball-image{
	top: 0px;
 	height: 60px;
	width: 60px;
	display: block;
  	margin: 0 auto;
}

#basketballQuery{
	background: #292f3a;
	color: #ffffff;
	height: 50px;
	width: 200px;	
	display: inline-block;
	margin: 20px;
	border: solid 2px #292f3a;
    text-align: center;
    font-size: 16px;	
	transition-duration: 0.4s;
	
}

#basketballQuery:hover{
	background: #d4d5d8;
	color: #000000;
}

#basketball-news a{
	color: #13383a;
	font-size: 14px;
	font-family: Comic Sans MS;
}

#basketball-news a:hover{
	color: #5098a0;
}

/* GO TO TOP */
.top {
    background: #727272;
	height: 60px;
	width: 100%;
	text-align: center;
}

.top:hover{
	background: #303030
}

.top-link {
    height: 100%;
    width: 100%;
    display: block;
	text-decoration: none;
}

.top-txt{
	color: #ffffff;
	display: block;
	font-size: 25px;
	font-family: Gill Sans, sans-serif;
}

.arrow{
	height: 25px;
	animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

/* LOGO TRANSITION */
.logo-hover {
	background: #6d6d6d;
	height: 100px;
	width: 80%;
	margin: auto;
	position: relative;
	border: solid 2px white;
	border-radius: 30%;
	text-align: center;
	overflow: hidden;
}

.logo-hover .overlay {
	top: 0;
	left: 0;
	height: 90%;
	width: 90%;
	position: absolute;
	overflow: hidden;
}

.logo-img{
	height: 100%;
	width:100%;	
	display: block;
	border-radius: 30%;
	transform: translate3d(-10px,0,0);
	transition: opacity 0.35s, transform 0.35s;	
}

.logo-hover:hover .logo-img{
	opacity: 0.4;
	transform: translate3d(0,0,0);
	filter: alpha(opacity=40);
}

.logo-title {
	background-color: transparent;
	color: #ffffff;
	padding: 5px;
	margin-top: 0px;
	position: relative;
	text-align: center;
	font-size: 12px;
	font-family: Comic Sans MS;
	text-transform: uppercase;
	overflow: hidden;
}

.logo-title:after {
	background: #ffffff;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	position: absolute;
	content: '';
	transition: transform 0.35s;
	transform: translate3d(-100%,0,0);
}

.logo-hover:hover .logo-title:after {
	transform: translate3d(0,0,0);
}

.logo-info{
	color: #ffffff;
	opacity: 0;
	padding-left: 20px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-family: Comic Sans MS;	
	transform: translate3d(100%,0,0);
	transition: opacity 0.35s, transform 0.35s;
}

.logo-hover:hover .logo-info{
  opacity: 1;
  transform: translate3d(0,0,0);
  filter: alpha(opacity=100);
}


/* BREAKPOINT (MEDIUM SCREEN) */
@media screen and (min-width: 520px) {

/* MAIN*/
.title {
	font-size: 30px;
} 


.news-title{
	font-size: 30px;
}

.sports-title{
	height:150px;
	width: 400px;
}

.container{
	height: 300px;
	width: 80%;
}

.sports-info{
	height: 270px;
	width: 80%;
}

.information {
	font-size: 12px;
}

.information-flip{
	font-size: 15px;
}

.title-flip{
	margin-bottom: 50px;
	font-size: 15px;
}

/* INTRO SECTION*/ 
.intro-txt{
	height: 600px;
 	font-size: 30px;
}
 
.intro-header{
	width: 400px;
	border-bottom: 10px solid white;
}

.slideshow-img {
	height: 98%;
}


/* SPORTS SECTION */
#sports{
	height: 1500px;
}

.sports-image{
	height: 100px;
	width: 100px;
}

.football-qoute,
.f1-qoute, 
.basketball-qoute{
	font-size: 20px;
}

.flip-container,
.flip-container .front-side,
.flip-container .back-side {
	height: 350px;
	width: 350px;
}

/*FOOTBALL SECTION*/
#football{
	height: 1200px;
}
 
.football-image{
 	height: 100px;
	width: 100px;
}

#footballQuery{
	margin-bottom: 20px;
}

#football-news a{
	font-size: 15px;
}

/* F1 SECTION */
#f1{
	height: 1200px;
}
 
.f1-image{
	height: 100px;
	width: 250px;
}

#f1Query{
	margin-bottom: 20px;
}

#f1-news a{
	font-size: 15px;
}
  
/* BASKETBALL SECTION */
#basketball{
	height: 1200px;
} 
 
.basketball-image{
	height: 100px;
	width: 100px;
}

#basketballQuery{
	margin-bottom: 20px;
}

#basketball-news a{
	font-size: 15px;
}

/* LOGO TRANSITION */
.logo-hover {
	height: 150px;
	width: 70%;
}

.logo-title{
	font-size: 15px;
}
 
.logo-info{
	font-size: 15px;
}
  
}


/* BREAKPOINT (LARGE SCREEN) */ 
@media screen and (min-width: 1024px) {   	  

.container {
	height: 350px;
	width: 85%;
}

.information {
	font-size: 18px;
}

.intro-header{
	width: 800px;
 	border-bottom: 10px solid white;
}

.information-flip{
	font-size: 14px;
}

.title-flip{
	margin-bottom: 0;
	font-size: 20px;
}

/* SPORTS SECTION */
#sports{
	height: 700px;
}

.football-qoute,
.f1-qoute, 
.basketball-qoute{
	font-size: 25px;
}

.flip-container,
.flip-container .front-side,
.flip-container .back-side {
	height: 280px;
	width: 280px;
}

.flip-container {
	display: inline-block;
	margin: 20px 0 20px 20px;
}

/* NEWS */
#football-news a{
	font-size: 17px;
}

#f1-news a{
	font-size: 17px;
}

#basketball-news a{
	font-size: 17px;
}

/* LOGO TRANSITION */
.logo-hover {
	height: 165px;
	width: 60%;
}

/* SPORTS SECTIONS */
.sports-info{
	height: 250px;
	width: 70%;
}

/* FOOTBALL */
#football{
	height: 1350px;
}

/* F1 */
#f1{
	height: 1350px;
}

/* BASKETBALL */
#basketball{
	height: 1350px;
} 

/* LOGO TRANSITION */
.logo-title{
	font-size: 25px;
}
 
.logo-info{
	font-size: 20px;
}

}
/* END OF MAIN SECTION */


/* FOOTER */
.footer{
	background: #a5a5a5;
	height: 90px;
	padding: 20px;
	text-align: center;	
} 

.github-image{
	height: 60px;
	width: 60px;	
	display: block;
	margin: auto;
	transition: .8s ease-in-out;
} 

.github-image:hover{
	transform:rotate(360deg);
} 


@media screen and (min-width: 520px) { 

.footer{
	height: 150px;	
}  

.github-image{
	height: 120px;
	width: 120px;
} 

}
/* END OF FOOTER */








